<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojo Survey Index</title>
</head>

<body>
    <div class="container mt-3">
        <Form action="Result" method="post">
            <div class="form-group">
                <label for="">Your Name:</label>
                <input class="form-control" type="text" name="Name">
            </div>
            <div class="form-group">
                <label for="">Dojo Location:</label>
                <Select class="form-control" name="Location">
                    <option value="Bellevue">Bellevue</option>
                    <option value="Boise">Boise</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Online">Online</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Silicon Valley">Silicon Valley</option>
                </Select>
            </div>
            <div class="form-group">
                <label for="">Favorite Language:</label>
                <Select class="form-control" name="Language">
                    <option value="C#">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="HTML">HTML</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                </Select>
            </div>
            <div class="form-group">
                <label for="">Comment (optional):</label>
                <textarea class="form-control" name="Comment" id="" cols="30" rows="10"></textarea>
            </div>
            <input class="btn btn-secondary mt-1" type="submit" name="" id="">
        </Form>
    </div>
</body>

</html>